body {
  margin: 0;
  height:100%;
  position:relative;
}

.color_red{
  background-color:rgb(238, 96, 124);
  width:50%;
  height: 50vh;
  margin:0 auto;
  position: absolute;
  top:50%;
  right:270px;
}
.color_green{
  background-color:rgb(132, 235, 132);
  width:50%;
  height:50vh;
  margin:0 auto;
  position: absolute;
  top:50%;
  right:170px;
}